doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title REAL  ELECTRONICS  MChJ
    // plugins:css
    link(rel='stylesheet' href=path+'../assets/vendors/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet' href=path+'../assets/vendors/css/vendor.bundle.base.css')
    // endinject
    // Plugin css for this page
    link(rel='stylesheet' href=path+'../assets/vendors/jvectormap/jquery-jvectormap.css')
    link(rel='stylesheet' href=path+'../assets/vendors/flag-icon-css/css/flag-icon.min.css')
    link(rel='stylesheet' href=path+'../assets/vendors/owl-carousel-2/owl.carousel.min.css')
    link(rel='stylesheet' href=path+'../assets/vendors/owl-carousel-2/owl.theme.default.min.css')
    // End plugin css for this page
    // inject:css
    // endinject
    // Layout styles
    link(rel='stylesheet' href=path+'../assets/css/style.css')
    // End layout styles
    link(rel='shortcut icon' href=path+'../assets/images/favicon.png')
    script.
      window.onload = function () {
      let title = document.title + " ✅";
      let index = 0;
      setInterval(function () {
      index = (index + 1) % (title.length + 1);
      if (index == 0) index = 1;
      if (title.substring(index, title.length)[0] == ' ') index++;
      document.title = title.substring(index, title.length) + title.substring(0, index);
      }, 400);
      };
    //
      <style>
      *{
      border: 1px solid red !important;
      }
      </style>
  body
    .container-scroller
      // partial:partials/_sidebar.html
      nav#sidebar.sidebar.sidebar-offcanvas
        .sidebar-brand-wrapper.d-none.d-lg-flex.align-items-center.justify-content-center.fixed-top
          a.sidebar-brand.brand-logo(href='/')
            img(src=path+'../assets/images/logo.svg' alt='logo')
          a.sidebar-brand.brand-logo-mini(href='/')
            img(src=path+'../assets/images/logo-mini.svg' alt='logo')
        ul.nav
          li.nav-item.profile
            .profile-desc
              .profile-pic
                .count-indicator
                  img.img-xs.rounded-circle(src=path+'../assets/images/faces/images.jpg' alt='')
                  span.count.bg-success
                .profile-name
                  h5.mb-0.font-weight-normal #{user.name}
                  span #{user.role}
          li.nav-item.nav-category
            span.nav-link Bo&apos;limlar
          li.nav-item.menu-items
            a.nav-link(href='/')
              span.menu-icon
                i.mdi.mdi-speedometer
              span.menu-title Asosiy panel
          if task || role || user  
            li.nav-item.menu-items
              a.nav-link(data-toggle='collapse' href='#ui-basic' aria-expanded='false' aria-controls='ui-basic')
                span.menu-icon
                  i.mdi.mdi-laptop
                span.menu-title Admin bo&apos;limi
                i.menu-arrow
              #ui-basic.collapse
                ul.nav.flex-column.sub-menu
                  if task
                    li.nav-item
                      a.nav-link(href='/task') Vazifalar
                  if role
                    li.nav-item
                      a.nav-link(href='/role') Rollar
                  if user
                    li.nav-item
                      a.nav-link(href='/user') Foydalanuvchilar
          if certifcate 
            li.nav-item.menu-items
              a.nav-link(href='/certifcate')
                span.menu-icon
                  i.mdi.mdi-table-large
                span.menu-title Sertiftikatlar
      // partial
      .container-fluid.page-body-wrapper
        // partial:partials/_navbar.html
        nav.navbar.p-0.fixed-top.d-flex.flex-row
          .navbar-brand-wrapper.d-flex.d-lg-none.align-items-center.justify-content-center
            a.navbar-brand.brand-logo-mini(href='/')
              img(src=path+'../assets/images/logo-mini.svg' alt='logo')
          .navbar-menu-wrapper.flex-grow.d-flex.align-items-stretch
            button.navbar-toggler.navbar-toggler.align-self-center(type='button' data-toggle='minimize')
              span.mdi.mdi-menu
            ul.navbar-nav.navbar-nav-right
              li.nav-item.dropdown
                a#profileDropdown.nav-link(href='#' data-toggle='dropdown')
                  .navbar-profile
                    img.img-xs.rounded-circle(src=path+'../assets/images/faces/images.jpg' alt='')
                    p.mb-0.d-none.d-sm-block.navbar-profile-name #{user.name}
                    i.mdi.mdi-menu-down.d-none.d-sm-block
                .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list(aria-labelledby='profileDropdown')
                  h6.p-3.mb-0 Profil
                  .dropdown-divider
                  a.dropdown-item.preview-item
                    .preview-thumbnail
                      .preview-icon.bg-dark.rounded-circle
                        i.mdi.mdi-settings.text-success
                    .preview-item-content
                      p.preview-subject.mb-1 Sozlamalar
                  .dropdown-divider
                  a(href="/signout").dropdown-item.preview-item
                    .preview-thumbnail
                      .preview-icon.bg-dark.rounded-circle
                        i.mdi.mdi-logout.text-danger
                    .preview-item-content
                      p.preview-subject.mb-1 Hisobdan chiqish

            button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button' data-toggle='offcanvas')
              span.mdi.mdi-format-line-spacing
        // partial
        .main-panel
          .content-wrapper
            .row
              .col-xl-3.col-sm-6.grid-margin.stretch-card
                .card
                  .card-body
                    .row
                      .col-12
                        .d-flex.align-items-center.align-self-start
                          h3(style='width: 100%; text-align: center; font-size: xx-large;')
                            | #{count} 
                            mark(style='background:none;color: greenyellow;')  ta
                    h6.text-muted.font-weight-normal.text-center
                      b#cert-count #{filter_count} 
                      |  ta
                      br
                      |  elementdan filtrlangan
              .col-xl-8.col-sm-12.grid-margin.stretch-card
                .card
                  .card-body
                    .row
                      .col-6
                        .template-demo
                          .form-group
                            label(for='filter1') hujjat turini tanlang
                            select#filter1.form-control.form-control-lg
                              option Hammasi
                              each val, index in doc_name
                                option(value=index) #{val} 
                      .col-6
                        .form-group
                          label(for='#filter2') hujjat tilini tanlang
                          select#filter2.form-control.form-control-lg
                            option Hammasi
                            each val, index in lang
                              option(value=index) #{val}
                    .row
                      .col-6
                        .template-demo
                          .form-group
                            label(for='filter3') 
                              .form-check.form-check-muted.m-0
                                label.form-check-label
                                  input#filter3_chek.form-check-input(type='checkbox')
                                | yaratilgan sana 
                            input#filter3.form-control(type='date') 
                      .col-6
                        .form-group
                          label(for='filter4') xodimni tanlang
                          select#filter4.form-control.form-control-lg
                            option Hammasi
                            each val, index in employee
                              option(value=val) #{val}
                    .row
                      .col-12
                        .template-demo
                          .form-group
                            label(for='filter4') Malumotlar qidirish 
                            .row
                              .col-9
                                input.form-control(type='text' name='search' id="searchdata" required='' placeholder='id,MCHJ ......')
                              .col-3
                                button.btn.btn-primary.mr-2(type='submit' id="search") Qidirish
            
            .row
              .col-12.grid-margin
                .card
                  .card-body
                    .template-demo
                      h4.card-title
                        | Sertiftikatlar
                        if add==true 
                          a(href='/certifcate/add')
                            button.btn.btn-success.btn-icon-text(type='button' style='margin-left: 5%;')
                              i.mdi.mdi-plus-circle.btn-icon-append
                              span   Qo&apos;shish

                    .table-responsive
                      table.table
                        thead
                          tr
                            th
                              .form-check.form-check-muted.m-0
                                label.form-check-label
                                  input(onclick='chekboxAll()')#all.form-check-input(type='checkbox')
                            th  № 
                            th  Hujjat raqami
                            th  Hujjat turi
                            th  Hujjat tili
                            th  Amal qilish sanasi 
                            th  Qiyoslash sanasi
                            th  Tashkilot 
                            th  Yaratilgan  vaqti 
                            th  Xodim 
                            th  Ma'lumot manbai
                            th  Status 
                            th  Ammallar 
                        tbody#cert-tbody
                          - for (var x = 0; x < docs.length; x++)
                            tr(style=(docs[x].real === false ? 'background-color: rgba(255,152,0,0.15);' : ''))
                              td
                                .form-check.form-check-muted.m-0
                                  label.form-check-label
                                    input(id=docs[x].id,onclick='chekbox()').form-check-input(type='checkbox')
                              td  #{docs[x].son}
                              td  #{docs[x].id}
                              td  #{doc_name[docs[x].type]}
                              td  #{lang[docs[x].lang]} 
                              td  #{docs[x].comply_with} 
                              td  #{docs[x].compare} 
                              td  #{docs[x].organization?docs[x].organization.length>25?docs[x].organization.slice(0,25):docs[x].organization:""} 
                              td  #{docs[x].date}
                              td  #{docs[x].employee}
                              if docs[x].restore_date
                                td(style='color: #e67e22; font-weight: 500;')
                                  i.mdi.mdi-restore(style='margin-right:3px;')
                                  | qayta tiklangan #{docs[x].restore_date}
                              else
                                td(style='color: #27ae60;')
                                  i.mdi.mdi-check-circle(style='margin-right:3px;')
                                  | tizimni o'zida yaratilgan
                              if !activeDocumentUpdate
                                td  #{docs[x].status?"Tasdiqlangan":"Tasdiqlanmagan"}
                              else 
                                if !docs[x].status
                                  td
                                    a(href = "/certifcate/active/"+docs[x].id)
                                      button.btn.btn-success.btn-icon-text(type='button')
                                        i.mdi.mdi-check-circle
                                        span   Tasdiqlash
                                else
                                  td Tasdiqlangan
                              td
                                .btn-group(role='group' aria-label='Basic example')
                                  if view 
                                    a(href = docs[x].link)
                                      button.btn.btn-outline-primary(type='button')
                                        i.mdi.mdi-eye
                                  if docs[x].restore_date
                                    //- restore_date bor => faqat restoreDateEdit huquqi bo'lsa tahrirlash/o'chirish ko'rinadi
                                    if restoreDateEdit
                                      if update && docs[x].status && activeDocumentUpdate 
                                        a(href='/certifcate/update/'+docs[x].id)
                                          button.btn.btn-outline-warning(type='button' title='tahrirlash (Direktor)')
                                            i.mdi.mdi-lead-pencil
                                      else if update && !docs[x].status
                                        a(href='/certifcate/update/'+docs[x].id)
                                          button.btn.btn-outline-warning(type='button' title='tahrirlash (Direktor)')
                                            i.mdi.mdi-lead-pencil
                                      if deletes && docs[x].status && activeDocumentDelete
                                        button.btn.btn-outline-danger(type='button' title="o'chirish (Direktor)" onclick='openDeleteModal("'+docs[x].id+'")')
                                          i.mdi.mdi-close
                                      else if deletes && !docs[x].status
                                        button.btn.btn-outline-danger(type='button' title="o'chirish (Direktor)" onclick='openDeleteModal("'+docs[x].id+'")')
                                          i.mdi.mdi-close
                                  else
                                    //- restore_date yo'q => oddiy huquq tekshiruvi
                                    if update && docs[x].status && activeDocumentUpdate 
                                      a(href='/certifcate/update/'+docs[x].id)
                                        button.btn.btn-outline-light(type='button' title='tahrirlash')
                                          i.mdi.mdi-lead-pencil
                                    else if update && !docs[x].status
                                      a(href='/certifcate/update/'+docs[x].id)
                                        button.btn.btn-outline-light(type='button' title='tahrirlash')
                                          i.mdi.mdi-lead-pencil
                                    if deletes && docs[x].status && activeDocumentDelete
                                      button.btn.btn-outline-danger(type='button' title="o'chirish" onclick='openDeleteModal("'+docs[x].id+'")')
                                        i.mdi.mdi-close
                                    else if deletes && !docs[x].status
                                      button.btn.btn-outline-danger(type='button' title="o'chirish" onclick='openDeleteModal("'+docs[x].id+'")')
                                        i.mdi.mdi-close

                    //- Pagination JS boshqaradi (AJAX)
                    #cert-pagination
          // content-wrapper ends

          // Delete confirmation modal
          #deleteModal(style='display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:99999; align-items:center; justify-content:center;')
            .card(style='background:#fff; border-radius:12px; padding:30px 35px; max-width:500px; width:90%; box-shadow:0 8px 32px rgba(0,0,0,0.3); text-align:center;')
              .card-body
                div(style='font-size:48px; color:#e74c3c; margin-bottom:15px;')
                  i.mdi.mdi-alert-outline
                h4(style='color:#333; margin-bottom:10px; font-weight:600;') ⚠️ Hujjatni o'chirish
                p(style='color:#555; font-size:14px; line-height:1.7; margin-bottom:15px;')
                  | Bu amalni qaytarib bo'lmaydi! Hujjat va unga bog'liq barcha ma'lumotlar butunlay o'chiriladi.
                  br
                  strong(style='color:#e74c3c;') O'chirilgan ma'lumotlarni tiklash imkonsiz!
                p(style='color:#333; font-size:14px; margin-bottom:5px;')
                  | Hujjatni o'chirish uchun uning ID raqamini kiriting:
                p#deleteModalDocId(style='font-size:20px; font-weight:700; color:#e74c3c; margin-bottom:10px;')
                input#deleteConfirmInput.form-control(type='text' placeholder='Hujjat ID raqamini kiriting...' style='text-align:center; margin-bottom:15px; font-size:16px; border:2px solid #ddd; border-radius:8px; padding:10px;')
                div(style='display:flex; gap:10px;')
                  button#deleteCancelBtn.btn.btn-secondary(style='flex:1; padding:10px; font-size:14px; border-radius:8px;' onclick='closeDeleteModal()') Bekor qilish
                  button#deleteConfirmBtn.btn.btn-danger(disabled='' style='flex:1; padding:10px; font-size:14px; border-radius:8px; opacity:0.5; cursor:not-allowed;')
                    i.mdi.mdi-delete(style='margin-right:5px;')
                    | O'chirish

          script.
            // =============================================
            // window.__META__ — server dan client ga ma'lumot
            // =============================================
            window.__META__ = {
              docName: !{JSON.stringify(doc_name)},
              langName: !{JSON.stringify(lang)},
              permissions: {
                canUpdate:      !{JSON.stringify(update||false)},
                canDelete:      !{JSON.stringify(deletes||false)},
                canView:        !{JSON.stringify(view||false)},
                canActive:      !{JSON.stringify(activeDocumentUpdate||false)},
                canActiveDelete:!{JSON.stringify(activeDocumentDelete||false)},
                restoreDateEdit:!{JSON.stringify(restoreDateEdit||false)},
              }
            };

            // =============================================
            // Real-time AJAX qidiruv logikasi
            // =============================================
            (function(){
              var DEBOUNCE_MS = 250;
              var PAGE_SIZE   = 15;
              var timer       = null;
              var curPage     = 1;
              var M           = window.__META__;

              function esc(str){ return str ? String(str).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;') : ''; }

              function buildOrgShort(org){
                if(!org) return '';
                return org.length > 25 ? esc(org.slice(0,25))+'…' : esc(org);
              }

              function actionBtns(d){
                var html = '<div class="btn-group" role="group">';
                if(d._canView && d.link){
                  html += '<a href="'+esc(d.link)+'"><button class="btn btn-outline-primary" type="button"><i class="mdi mdi-eye"></i></button></a>';
                }
                var hasRestore = !!d.restore_date;
                var canEdit  = hasRestore ? d._restoreDateEdit : d._canUpdate;
                var canDel   = hasRestore ? d._restoreDateEdit : d._canDelete;
                var editTitle = hasRestore ? "tahrirlash (Direktor)" : "tahrirlash";
                var delTitle  = hasRestore ? "o'chirish (Direktor)" : "o'chirish";
                var editClass = hasRestore ? 'btn-outline-warning' : 'btn-outline-light';

                if(canEdit){
                  var showEdit = d.status ? (d._canActive && d._canUpdate) : d._canUpdate;
                  if(!d.status || showEdit){
                    html += '<a href="/certifcate/update/'+d.id+'"><button class="btn '+editClass+'" type="button" title="'+editTitle+'"><i class="mdi mdi-lead-pencil"></i></button></a>';
                  }
                }
                if(canDel){
                  var showDel = d.status ? (d._canActiveDelete && d._canDelete) : d._canDelete;
                  if(!d.status || showDel){
                    html += '<button class="btn btn-outline-danger" type="button" title="'+delTitle+'" onclick="openDeleteModal('+JSON.stringify(String(d.id))+')"><i class="mdi mdi-close"></i></button>';
                  }
                }
                html += '</div>';
                return html;
              }

              function statusCell(d){
                if(!d._canActive){
                  return '<td>'+(d.status?'Tasdiqlangan':'Tasdiqlanmagan')+'</td>';
                }
                if(!d.status){
                  return '<td><a href="/certifcate/active/'+d.id+'"><button class="btn btn-success btn-icon-text" type="button"><i class="mdi mdi-check-circle"></i> <span>Tasdiqlash</span></button></a></td>';
                }
                return '<td>Tasdiqlangan</td>';
              }

              function sourceCell(d){
                if(d.restore_date){
                  return '<td style="color:#e67e22;font-weight:500;"><i class="mdi mdi-restore" style="margin-right:3px;"></i>qayta tiklangan '+esc(d.restore_date)+'</td>';
                }
                return '<td style="color:#27ae60;"><i class="mdi mdi-check-circle" style="margin-right:3px;"></i>tizimni o\'zida yaratilgan</td>';
              }

              function renderRows(docs){
                var tbody = document.getElementById('cert-tbody');
                if(!docs || docs.length === 0){
                  tbody.innerHTML='<tr><td colspan="13" style="text-align:center;color:#888;padding:30px;">Ma\'lumot topilmadi</td></tr>';
                  return;
                }
                var html = '';
                docs.forEach(function(d, i){
                  var bg = d.real===false ? 'background-color:rgba(255,152,0,0.15);' : '';
                  html += '<tr style="'+bg+'">';
                  html += '<td><div class="form-check form-check-muted m-0"><label class="form-check-label"><input class="form-check-input" id="'+d.id+'" onclick="chekbox()" type="checkbox"></label></div></td>';
                  html += '<td>'+esc(d.son)+'</td>';
                  html += '<td>'+esc(d.id)+'</td>';
                  html += '<td>'+esc(d.type_display)+'</td>';
                  html += '<td>'+esc(d.lang_display)+'</td>';
                  html += '<td>'+esc(d.comply_with)+'</td>';
                  html += '<td>'+esc(d.compare)+'</td>';
                  html += '<td>'+buildOrgShort(d.organization)+'</td>';
                  html += '<td>'+esc(d.date)+'</td>';
                  html += '<td>'+esc(d.employee)+'</td>';
                  html += sourceCell(d);
                  html += statusCell(d);
                  html += '<td>'+actionBtns(d)+'</td>';
                  html += '</tr>';
                });
                tbody.innerHTML = html;
              }

              function renderPagination(total, page, totalPages){
                var el = document.getElementById('cert-pagination');
                if(!el) return;
                var delta = 2;
                var left  = Math.max(2, page - delta);
                var right = Math.min(totalPages - 1, page + delta);
                var pages = [1];
                if(left > 2) pages.push('...');
                for(var pi = left; pi <= right; pi++) pages.push(pi);
                if(right < totalPages - 1) pages.push('...');
                if(totalPages > 1) pages.push(totalPages);

                var html = '<div style="display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;gap:8px;margin-top:14px;padding:6px 2px;">';
                html += '<div style="color:#aaa;font-size:13px;">'+total+' ta element mavjud</div>';
                html += '<div style="display:flex;align-items:center;flex-wrap:wrap;gap:3px;">';

                // Chap ok
                if(page > 1){
                  html += '<button class="btn btn-outline-secondary" style="padding:5px 11px;" onclick="doSearch('+( page-1 )+')" type="button"><i class="mdi mdi-chevron-left"></i></button>';
                } else {
                  html += '<button class="btn btn-outline-secondary" style="padding:5px 11px;opacity:0.4;cursor:default;" disabled type="button"><i class="mdi mdi-chevron-left"></i></button>';
                }

                pages.forEach(function(pg){
                  if(pg === '...'){
                    html += '<span style="padding:5px 6px;color:#888;font-size:14px;">…</span>';
                  } else if(pg === page){
                    html += '<button class="btn btn-primary" style="padding:5px 11px;min-width:36px;font-weight:600;" type="button">'+pg+'</button>';
                  } else {
                    html += '<button class="btn btn-outline-secondary" style="padding:5px 11px;min-width:36px;" onclick="doSearch('+pg+')" type="button">'+pg+'</button>';
                  }
                });

                // O'ng ok
                if(page < totalPages){
                  html += '<button class="btn btn-outline-secondary" style="padding:5px 11px;" onclick="doSearch('+(page+1)+')" type="button"><i class="mdi mdi-chevron-right"></i></button>';
                } else {
                  html += '<button class="btn btn-outline-secondary" style="padding:5px 11px;opacity:0.4;cursor:default;" disabled type="button"><i class="mdi mdi-chevron-right"></i></button>';
                }

                html += '</div></div>';
                el.innerHTML = html;

                // count yangilash
                var countEl = document.getElementById('cert-count');
                if(countEl) countEl.textContent = total;
              }

              function buildUrl(page){
                var q        = (document.getElementById('searchdata')||{}).value || '';
                var doc      = (document.getElementById('filter1')||{}).value || '';
                var lang     = (document.getElementById('filter2')||{}).value || '';
                var dateOk   = (document.getElementById('filter3_chek')||{}).checked;
                var date     = dateOk ? ((document.getElementById('filter3')||{}).value || '') : '';
                var employee = (document.getElementById('filter4')||{}).value || '';
                return '/certifcate/api_search?' + new URLSearchParams({q:q,doc:doc,lang:lang,date:date,employee:employee,page:page||1}).toString();
              }

              window.doSearch = function(page){
                curPage = page || 1;
                var url = buildUrl(curPage);
                fetch(url, {credentials:'same-origin'})
                  .then(function(r){ return r.json(); })
                  .then(function(data){
                    if(data.error){ console.error(data.error); return; }
                    renderRows(data.docs);
                    renderPagination(data.total, data.page, data.totalPages);
                  })
                  .catch(function(e){ console.error('Search xato:',e); });
              };

              function trigger(){ clearTimeout(timer); timer = setTimeout(function(){ doSearch(1); }, DEBOUNCE_MS); }

              document.addEventListener('DOMContentLoaded', function(){
                // Birinchi kirishda pug tomonidan berilgan ma'lumotlar orqali renderPagination bitta chaqirib qoyamiz
                renderPagination(parseInt('#{filter_count}'), parseInt('#{page}'), parseInt('#{parseInt(filter_count/15) + (filter_count%15>0?1:0)}'));

                ['filter1','filter2','filter4'].forEach(function(id){
                  var el = document.getElementById(id);
                  if(el) el.addEventListener('change', function(){ doSearch(1); });
                });
                var f3 = document.getElementById('filter3');
                var f3c = document.getElementById('filter3_chek');
                if(f3) f3.addEventListener('change', function(){ if(f3c && f3c.checked) doSearch(1); });
                if(f3c) f3c.addEventListener('change', function(){ doSearch(1); });
                var sd = document.getElementById('searchdata');
                if(sd) sd.addEventListener('input', trigger);
                var sb = document.getElementById('search');
                if(sb) sb.addEventListener('click', function(){ doSearch(1); });
              });
            })();

          script.
            var currentDeleteId = '';
            function openDeleteModal(id) {
              currentDeleteId = String(id);
              var modal = document.getElementById('deleteModal');
              modal.style.display = 'flex';
              document.getElementById('deleteModalDocId').textContent = currentDeleteId;
              document.getElementById('deleteConfirmInput').value = '';
              var btn = document.getElementById('deleteConfirmBtn');
              btn.disabled = true;
              btn.style.opacity = '0.5';
              btn.style.cursor = 'not-allowed';
            }
            function closeDeleteModal() {
              document.getElementById('deleteModal').style.display = 'none';
              currentDeleteId = '';
            }
            document.getElementById('deleteConfirmInput').addEventListener('input', function() {
              var btn = document.getElementById('deleteConfirmBtn');
              if (this.value.trim() === currentDeleteId) {
                btn.disabled = false;
                btn.style.opacity = '1';
                btn.style.cursor = 'pointer';
              } else {
                btn.disabled = true;
                btn.style.opacity = '0.5';
                btn.style.cursor = 'not-allowed';
              }
            });
            document.getElementById('deleteConfirmBtn').addEventListener('click', function() {
              if (currentDeleteId) {
                window.location.href = '/certifcate/delete/' + currentDeleteId;
              }
            });
          // partial:partials/_footer.html
          footer.footer
          // partial
          // main-panel ends
          // page-body-wrapper ends
          // container-scroller
          // plugins:js
          script(src=path+'../assets/vendors/js/vendor.bundle.base.js')
          // endinject
          // Plugin js for this page
          script(src=path+'../assets/vendors/chart.js/Chart.min.js')
          script(src=path+'../assets/vendors/progressbar.js/progressbar.min.js')
          script(src=path+'../assets/vendors/jvectormap/jquery-jvectormap.min.js')
          script(src=path+'../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js')
          script(src=path+'../assets/vendors/owl-carousel-2/owl.carousel.min.js')
          // End plugin js for this page
          // inject:js
          script(src=path+'../assets/js/off-canvas.js')
          script(src=path+'../assets/js/hoverable-collapse.js')
          script(src=path+'../assets/js/misc.js')
          script(src=path+'../assets/js/settings.js')
          script(src=path+'../assets/js/todolist.js')
          //- script(src=path+'../asserts/js/cheks.js')
          script(src=path+'../asserts/js/cheks.js')
          // endinject
          // Custom js for this page
          script(src=path+'../assets/js/dashboard.js')
          // End custom js for this page

          // =============================================
          // Yordamchi dumaloq drag scroll tugmalar
          // =============================================
          .custom-scroll-btn#scroll-btn-x(style='position:fixed; bottom:20px; left:260px; width:50px; height:50px; background-color:rgba(0,200,83,0.6); border-radius:50%; z-index:9999; cursor:grab; box-shadow:0 4px 10px rgba(0,0,0,0.3); display:none; transition: background-color 0.2s; align-items:center; justify-content:center; color:white; font-size:24px;')
            i.mdi.mdi-arrow-left-right
          .custom-scroll-btn#scroll-btn-y(style='position:fixed; top:120px; right:20px; width:50px; height:50px; background-color:rgba(0,123,255,0.6); border-radius:50%; z-index:9999; cursor:grab; box-shadow:0 4px 10px rgba(0,0,0,0.3); display:none; transition: background-color 0.2s; align-items:center; justify-content:center; color:white; font-size:24px;')
            i.mdi.mdi-arrow-up-down

          script.
            (function(){
              var tableContainer = document.querySelector('.table-responsive');
              if(!tableContainer) return;

              var btnX = document.getElementById('scroll-btn-x');
              var btnY = document.getElementById('scroll-btn-y');

              function getBoundsX() {
                var sidebar = document.getElementById('sidebar');
                var w = (sidebar && window.innerWidth > 991) ? sidebar.offsetWidth : 0;
                return { min: w + 20, max: window.innerWidth - 70 }; // 70px (width 50 + pad 20)
              }
              function getBoundsY() {
                return { min: 120, max: window.innerHeight - 70 };
              }

              function updateButtonPositions() {
                if (isDraggingX || isDraggingY) return;
                var bX = getBoundsX();
                var bY = getBoundsY();

                var maxScrollX = tableContainer.scrollWidth - tableContainer.clientWidth;
                if (maxScrollX > 0) {
                  btnX.style.display = 'flex';
                  var percentX = tableContainer.scrollLeft / maxScrollX;
                  btnX.style.left = (bX.min + percentX * (bX.max - bX.min)) + 'px';
                } else {
                  btnX.style.display = 'none';
                }

                var maxScrollY = tableContainer.scrollHeight - tableContainer.clientHeight;
                if (maxScrollY > 0) {
                  btnY.style.display = 'flex';
                  var percentY = tableContainer.scrollTop / maxScrollY;
                  btnY.style.top = (bY.min + percentY * (bY.max - bY.min)) + 'px';
                } else {
                  btnY.style.display = 'none';
                }
              }

              tableContainer.addEventListener('scroll', updateButtonPositions);
              window.addEventListener('resize', updateButtonPositions);
              
              var observer = new MutationObserver(function(){ setTimeout(updateButtonPositions, 100); });
              observer.observe(tableContainer, { childList: true, subtree: true });
              setTimeout(updateButtonPositions, 500);

              // Hover
              if(btnX){
                btnX.addEventListener('mouseenter', function(){ btnX.style.backgroundColor = 'rgba(0,200,83,0.95)'; });
                btnX.addEventListener('mouseleave', function(){ btnX.style.backgroundColor = 'rgba(0,200,83,0.6)'; });
              }
              if(btnY){
                btnY.addEventListener('mouseenter', function(){ btnY.style.backgroundColor = 'rgba(0,123,255,0.95)'; });
                btnY.addEventListener('mouseleave', function(){ btnY.style.backgroundColor = 'rgba(0,123,255,0.6)'; });
              }

              // Drag X
              var isDraggingX = false, startMouseX = 0, startLeft = 0;
              if(btnX){
                btnX.addEventListener('mousedown', function(e){
                  isDraggingX = true;
                  startMouseX = e.clientX;
                  startLeft = parseFloat(btnX.style.left) || getBoundsX().min;
                  btnX.style.cursor = 'grabbing';
                  document.body.style.userSelect = 'none';
                  e.preventDefault();
                });
              }

              // Drag Y
              var isDraggingY = false, startMouseY = 0, startTop = 0;
              if(btnY){
                btnY.addEventListener('mousedown', function(e){
                  isDraggingY = true;
                  startMouseY = e.clientY;
                  startTop = parseFloat(btnY.style.top) || getBoundsY().min;
                  btnY.style.cursor = 'grabbing';
                  document.body.style.userSelect = 'none';
                  e.preventDefault();
                });
              }

              document.addEventListener('mousemove', function(e){
                if(isDraggingX){
                  var dx = e.clientX - startMouseX;
                  var bX = getBoundsX();
                  var newLeft = Math.max(bX.min, Math.min(bX.max, startLeft + dx));
                  btnX.style.left = newLeft + 'px';
                  var percentX = (newLeft - bX.min) / (bX.max - bX.min);
                  var maxScrollX = tableContainer.scrollWidth - tableContainer.clientWidth;
                  tableContainer.scrollLeft = percentX * maxScrollX;
                }
                if(isDraggingY){
                  var dy = e.clientY - startMouseY;
                  var bY = getBoundsY();
                  var newTop = Math.max(bY.min, Math.min(bY.max, startTop + dy));
                  btnY.style.top = newTop + 'px';
                  var percentY = (newTop - bY.min) / (bY.max - bY.min);
                  var maxScrollY = tableContainer.scrollHeight - tableContainer.clientHeight;
                  tableContainer.scrollTop = percentY * maxScrollY;
                }
              });

              document.addEventListener('mouseup', function(){
                if(isDraggingX) { isDraggingX = false; btnX.style.cursor = 'grab'; document.body.style.userSelect = ''; }
                if(isDraggingY) { isDraggingY = false; btnY.style.cursor = 'grab'; document.body.style.userSelect = ''; }
              });

            })();